\documentclass[
	fontsize=12pt,
	paper=A4,
	parskip=half-,
	fromalign=right,
	fromphone=false,
	fromemail=false,
	version=last,
	subject=beforeopening,
	subject=centered,
	foldmarks=true
]{scrlttr2}

\usepackage{lmodern}
\renewcommand*\familydefault{\sfdefault}
\usepackage[T1]{fontenc}

\usepackage[utf8]{inputenc}
\usepackage{eurosym}
\DeclareUnicodeCharacter{20AC}{\euro}
\usepackage[ngerman]{babel}
\usepackage{pdfpages}
\usepackage[hidelinks]{hyperref}
\setkomavar{signature}{}
\usepackage{csquotes}
\usepackage{microtype}

\begin{document}

\renewcommand*\pagemark{%
  \usekomafont{pagenumber}{\thepage~/~\letterlastpage}
}
\setkomavar{firstfoot}{\centering\pagemark}

\setkomavar{fromname}{}
\setkomavar{fromaddress}{}
\setkomavar{backaddress}{ {{ .Sender }}\\ {{ .SenderStreet }}\\{{ .SenderPostalCode }} {{ .SenderCity }} }
\setkomavar{backaddressseparator}{, }

\setkomavar{date}{ {{ .Date }} }
\setkomavar{subject}{ {{ .Subject }} }

\begin{letter}{ {{ .Recipient }}\\{{ .RecipientStreet }}\\{{ .RecipientPostalCode }} {{ .RecipientCity }} }

\opening{ {{ .Opening }} }

{{ .Content }}

\vspace{10pt}
{{ .Closing }}
{{if .SignatureSpace}}
\vspace{30pt}
{{end}}
{{ .Sender }}

\end{letter}
\end{document}
