\documentclass[
	fontsize=12pt,
	paper=A4,
	parskip=half-,
	fromalign=right,
	fromphone=false,
	fromemail=false,
	version=last,
	subject=beforeopening,
	subject=centered,
	foldmarks=true
]{scrlttr2}

\usepackage{lmodern}
\renewcommand*\familydefault{\sfdefault}
\usepackage[T1]{fontenc}

\usepackage[utf8]{inputenc}
\usepackage{eurosym}
\DeclareUnicodeCharacter{20AC}{\euro}
\usepackage[ngerman]{babel}
\usepackage{pdfpages}
\usepackage[hidelinks]{hyperref}
\setkomavar{signature}{}
\usepackage{microtype}

\begin{document}

\renewcommand*\pagemark{%
  \ifnum\getpagerefnumber{\thisletter.lastpage}>1\relax
    \usekomafont{pagenumber}{\thepage~/~\letterlastpage}%
  \fi
}
\setkomavar{firstfoot}{\centering\pagemark}

\setkomavar{fromname}{}
\setkomavar{fromaddress}{}
\setkomavar{backaddress}{ {{ .SenderAddress }} }
\setkomavar{backaddressseparator}{, }
% The DIN defaults reserve five address lines. Size this window to its content
% so that omitted recipient fields do not leave an empty gap before the date.
\setplength{toaddrheight}{\dimexpr5mm+{{ .RecipientAddressHeightLines }}\baselineskip\relax}
\setplength{refvpos}{\dimexpr\useplength{toaddrvpos}+\useplength{toaddrheight}+\baselineskip\relax}

\setkomavar{date}{ {{ .Date }} }
\setkomavar{subject}{ {{ .Subject }} }

\begin{letter}{ {{ .RecipientAddress }} }

\opening{ {{ .Opening }} }

{{ .Content }}

\vspace{10pt}
{{ .Closing }}
{{if .SignatureSpace}}
\vspace{30pt}
{{end}}
{{ .Sender }}

\end{letter}
\end{document}
